[submodule "pages"]
	path = stockfish-wiki
	url = https://github.com/glowingjellyfish/glowingjellyfish.wiki.git
[submodule "pages-nnue"]
	path = nnue-pytorch-wiki
	url = https://github.com/GlowingJellyfish/nnue-pytorch.git
[submodule "pages-fishtest"]
	path = fishtest-wiki
	url = https://github.com/glowingjellyfish/fishtest.wiki.git
